<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Perpetual Projects</title>
        <link rel="stylesheet" type="text/css" href="../public/css/common.css">
    </head>
    <body>
        <div class="login-base login-hidden" onclick="openLogin(false);">
            <div class="login-outline">
                <div class="login-text">Login</div>
                <form action="/login" method="post">
                    <div class="text-input-container login-input-container"><input class="login-input text-input" name="username" type="text" placeholder="Username"></input></div>
                    <div class="text-input-container login-input-container"><input class="login-input text-input" name="password" type="password" placeholder="Password"></input></div>
                    <input class="login-submit-button button" type="submit"></input>
                </form>
                <div class="login-create" onclick="openAccountcreation(true);">Create account</div>
            </div>
        </div>
        <div class="login-base create-base login-hidden" onclick="openAccountcreation(false);">
            <div class="login-outline">
                <div class="login-text">Create account</div>
                <form action="/login" method="post">
                    <div class="text-input-container login-input-container"><input class="login-input text-input" name="username" type="text" placeholder="Username"></input></div>
                    <div class="text-input-container login-input-container"><input class="login-input text-input" name="email" type="email" placeholder="Email"></input></div>
                    <div class="text-input-container login-input-container"><input class="login-input text-input" name="password" type="password" placeholder="Password"></input></div>
                    <div class="text-input-container login-input-container"><input class="login-input text-input" name="confirmpassword" type="password" placeholder="Confirm password"></input></div>
                    <input class="login-submit-button button" type="submit" value="Create account"></input>
                </form>
            </div>
        </div>
        <div class="paper-center">
            <div class="navigation-bar">
                <div class="nav nav-logo"></div>
                <div class="nav button nav-search"><input class="nav nav-searh-input text-input" type="text" name="search" placeholder="Search"></input></div>
                <button class="nav button nav-new-guide">Your guide</button>
                <button class="nav button nav-account">Logout</button>
                <button class="nav button nav-login" onclick="openLogin(true);">Login</button>
            </div>
        </div>
        <div class="paper-center">
            <div class="main-paper">
                <div class="page-text-width">
                    <div class="placeholder-container">
                        <div class="green-header">Title of the guide</div>
                    </div>
                    <div class="short-info-container">
                        <!--<%if(isFirstJob) {%>
                            <div class="center-row first-job-display">First job</div>
                        <% }%>-->
                        <div class="short-guide-facts-container">
                            <div class="short-guide-facts">
                                <div class="short-fact-header">First job</div>
                                <div class="short-fact-text">Yes</div>
                            </div>
                            <div class="short-guide-facts">
                                <div class="short-fact-header">Education</div>
                                <div class="short-fact-text">Computer science</div>
                            </div>
                            <div class="short-guide-facts">
                                <div class="short-fact-header">previous ocupation</div>
                                <div class="short-fact-text">Carpenter</div>
                            </div>
                            <div class="short-guide-facts">
                                <div class="short-fact-header">Job type</div>
                                <div class="short-fact-text">Programmer</div>
                            </div>
                        </div>
                    </div>
                    <div class="bullet-container">
                        <div class="bullet-row">
                            <div class="bullet-index font-large">1</div>
                            <div class="bullet-title-description-container">
                                <div class="bullet-title">SCV</div>
                                <div class="bullet-description">Jag skrev någonting på ett papper sdfklgjhsdf dlskfgj sdflkghsdfg dsfgkhsdf </div>
                            </div>
                        </div>
                        <div class="bullet-row">
                            <div class="bullet-index font-large">2</div>
                            <div class="bullet-title-description-container">
                                <div class="bullet-title">DRONE</div>
                                <div class="bullet-description">Jag skrev någonting på ett papper sdfklgjhsdf dlskfgj sdflkghsdfg dsfgkhsdf </div>
                            </div>
                        </div>
                        <div class="bullet-row">
                            <div class="bullet-index font-large">3</div>
                            <div class="bullet-title-description-container">
                                <div class="bullet-title">PROBE</div>
                                <div class="bullet-description">Jag skrev någonting på ett papper sdfklgjhsdf dlskfgj sdflkghsdfg dsfgkhsdf </div>
                            </div>
                        </div>
                    </div>

                    <div class="description-container">
                        <div class="description-text">Här har vi en fantastik beskrivning av hur jag gick till arbetsförmedlingen med mitt CV</div>
                    </div>
                    <div class="button-panel">
                        <div class="horizontal-buttons">
                            <button class="button upvote-button">Vote Up</button>
                            <button class="button downvote-button">Vote Down</button>
                            <button class="button flag-button">Flag</button>
                        </div>
                        <button class="button translate-button">Translate</button>
                    </div>
                </div>
            </div>
        </div>
                <div class="footer">Powered <span style="font-size: 0.8rem;">by</span> Perpetual Projects</div>
        <script>
            document.getElementsByClassName("login-outline")[0].addEventListener("click", function (event) { event.stopPropagation(); } );
            document.getElementsByClassName("login-outline")[1].addEventListener("click", function (event) { event.stopPropagation(); } );
            function openLogin(shouldOpen) {
                if(shouldOpen) {
                    document.getElementsByClassName("login-base")[0].classList.remove("login-hidden");
                } else {
                    document.getElementsByClassName("login-base")[0].classList.add("login-hidden");
                }
            }
            function openAccountcreation(shouldOpen) {
                if(shouldOpen) {
                    document.getElementsByClassName("login-base")[1].classList.remove("login-hidden");
                } else {
                    document.getElementsByClassName("login-base")[1].classList.add("login-hidden");
                }
            }
        </script>
    </body>
</html>
