<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Perpetual Projects</title>
        <style>
            body{ margin: 0; }

            .guide-header{font-size: 1.5rem; text-align: center;}
            .guide-row{ padding: 1rem; }

            .path-step{ display: flex; background-color: lightgray; padding: 0.5rem; border-radius: 0.6rem;}
            .path-header{ width:100%; }
            .path-index{ min-width: 2rem; display: flex; justify-content: center; align-items: center; }
            .path-element{ flex-grow: 1; }

            .text-input-container{ padding: 0.2rem; border: black solid 0.1rem; border-radius: 0.3rem; background: #fafafa; }
            .text-input{ background: transparent; font-family: Arial, Helvetica, sans-serif; font-size: 1rem; width: 100%; padding: 0; border: 0; margin: 0; resize: vertical;}
            .alternative-radio{ margin-left: 1rem; margin-right: 1rem; }

            .footer{ text-align: center; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="guide-header">Fill out your guide</div>
            <form>
                <div class="guide-row">
                    <div>Was this your first job in Sweden?</div>
                    <label class="alternative-radio">Yes<input type="radio" name="firstjob" value="yes"></input></label>
                    <label class="alternative-radio">No<input type="radio" name="firstjob" value="no"></input></label>
                </div>

                <div class="guide-row">
                    <div>What kind of job is it?</div>
                    <div class="text-input-container"><input class="text-input" type="text"></input></div>
                </div>

                <div class="guide-row">
                    <div>What education did you have?</div>
                    <div class="text-input-container"><input class="text-input" type="text"></input></div>
                </div>

                <div class="guide-row">
                    <div>Path</div>
                    <div class="path-step">
                        <div class="path-index">1.</div>
                        <div class="path-element">
                            <div class="text-input-container"><input class="path-header text-input" type="text" oninput="handlePathChange();"></input></div>
                            <div style="height: 0.1rem;"></div>
                            <div class="text-input-container"><textarea class="path-header text-input" oninput="handlePathChange();"></textarea></div>
                        </div>
                    </div>
                </div>
                <div class="guide-row">
                    <div>Description - preferably short</div>
                    <div class="text-input-container"><textarea class="path-header text-input"></textarea>
                </div>
            </form>
        </div>
        <div class="footer">Powered <span style="font-size: 0.8rem;">by</span>Perpetual Projects</div>
        <script>
            function handlePathChange() {
                alert("Don't do that!")
            }
        </script>
    </body>
</html>
