<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Perpetual Projects</title>
        <style>
            body{ margin: 0; }
            .container{ max-width: 70rem; background-color: cyan; }
            .main-header{ text-align: center; padding: 1rem; }
            .short-guide-container{ margin: 0; }
            .short-guide-row{ margin: 0.5rem; padding: 0.5rem; background-color: silver; }
            .first-job{ background-color: greenyellow; }
            .short-guide-profession-box{  }
            .short-guide-path-box{  }
            .short-guide-main{ display: flex; justify-content: space-between; background-color: orange; }

            .footer{ text-align: center; }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="main-header">Erfarenheter</div>
            <div class="short-guide-container">
                <div class="short-guide-row">
                    <div class="first-job">First job!</div>
                    <div class="short-guide-main">
                        <div class="short-guide-profession-box">
                            <div>Computer Science</div>
                            <div>Carpenter</div>
                        </div>
                        <div class="short-guide-path-box"><!-- Very flexible if displayed or not -->
                            The amazing path
                        </div>
                    </div>
                </div>
                <div class="short-guide-row">
                    <div class="first-job">First job!</div>
                    <div class="short-guide-main">
                        <div class="short-guide-profession-box">
                            <div>Computer Science</div>
                            <div>Carpenter</div>
                        </div>
                        <div class="short-guide-path-box"><!-- Very flexible if displayed or not -->
                            The amazing path
                        </div>
                    </div>
                </div>
                <div class="short-guide-row">
                    <div class="first-job">First job!</div>
                    <div class="short-guide-main">
                        <div class="short-guide-profession-box">
                            <div>Computer Science</div>
                            <div>Carpenter</div>
                        </div>
                        <div class="short-guide-path-box"><!-- Very flexible if displayed or not -->
                            The amazing path
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">Powered <span style="font-size: 0.8rem;">by</span> Perpetual Projects</div>
    </body>
</html>
