body{ margin: 0; }
.description-container{ padding: 0.5rem; font-size: 1.2rem; max-width: 32rem; margin: 0 auto; }
.button-panel{ padding: 0.5rem; max-width: 25rem; margin: 0 auto; }
.horizontal-buttons{ display: flex; justify-content: space-between; }
.button{ background-color: transparent; padding: 0.3rem; color: white; border: black solid 0; font-family: Arial, Helvetica, sans-serif; font-size: 1rem; }

.container{ max-width: 40rem; padding: 1rem; }
.guide-header{font-size: 1.5rem; text-align: center;}


.placeholder{ color: white; background: #00B568; padding: 0.5rem; max-width: 25rem; margin: 0 auto; }

.path-step{ display: flex; border: black solid 0.1rem; padding: 0.5rem; border-radius: 0.6rem; margin-bottom: 1rem; }
.path-step:last-child{ margin-bottom: 0; }
.path-header{ width:100%; }
.path-index{ min-width: 2rem; display: flex; justify-content: center; align-items: center; }
.path-element{ flex-grow: 1; }

.text-input-container > textarea{ margin-bottom: -0.2rem; }
.button-style{ color: white; border: black solid 0.1rem; border-radius: 0.3rem; background-color: green; font-family: Arial, Helvetica, sans-serif; font-size: 1rem; }

.text-input-container{ padding: 0.2rem; background: #fafafa; }
.text-input{ background: transparent; font-family: Arial, Helvetica, sans-serif; font-size: 1rem; width: 100%; padding: 0; border: 0; margin: 0; resize: vertical;}
.alternative-radio{ display: block; padding: 0.3rem; margin-left: 1rem; margin-right: 1rem; border: transparent solid 0.1rem; border-radius: 0.3rem; }
.radio-selected{ border-color: black; }
.radio-input{ display: none; }
.radio-container{ display:flex; justify-content: space-around; padding-left: 6rem; padding-right: 6rem;}

.input-instruction-text{ margin: 0.3rem; }

.center-row{ text-align: center; }
.footer{ text-align: center; margin: 1rem; padding-bottom: 3rem; padding-top: 5rem; }

.short-info-container{ color: black; padding: 0.5rem; }
.first-job-display{ color: white; background: linear-gradient(to right, transparent, #00B568, transparent); }
.short-info-horizontal{ display: flex; justify-content: center; }
.short-info{ width: 50%; }

.bullet-container{ max-width: 32rem; margin: 0 auto; }
.bullet-row{ display: flex; padding: 0.5rem; padding-left: 2rem; padding-right: 2rem; }
.bullet-row:hover{ background: #f5f5f5; }
.bullet-title-description-container{ padding-left: 0.5rem; flex-grow: 1; }
.bullet-title{ font-size: 1.4rem; font-weight: bold; }
.bullet-description{ font-size: 1.2rem; }
.bullet-index{ min-width: 2rem; display: flex; justify-content: center; align-items: center; border-right: lightgray solid 0.2rem;}
.short-info-left{ text-align: right; border-right: solid lightgray 0.1rem; padding-right: 0.5rem; }
.short-info-right{ text-align: left; border-left: solid lightgray 0.1rem; padding-left: 0.5rem; }


.upvote-button{ width: 10rem; background-color: #25DA8C; }
.downvote-button{ width: 10rem; background-color: #ffb366; margin-right: 0.3rem; margin-left: 0.3rem; }
.flag-button{ width: 10rem; background-color: #8080ff; }
.translate-button{ width: 10rem; background-color: #00B568; margin-top: 1rem; display: block; width: 100%; }



.paper-center{ display: flex; justify-content: center; }
.main-paper{ flex-grow: 1; display: flex; justify-content: center; margin: 1rem; background-color: #fafafa; min-width: 15rem; max-width: 70rem; box-shadow: 0.2rem 0.2rem 0.7rem #b0b0b0; }
.page-text-width{ max-width: 40rem; flex-grow: 1; }
.bannerText{ font-size: 2rem; text-align: center; padding: 0.5rem; margin:0.5rem; }
.green-header{ background: #00B568; margin: 0; color: white; font-size: 2rem; text-align: center; padding: 0.5rem; }

.short-guide-facts-container{ display: flex; justify-content: space-between; padding: 0.5rem; margin:0.5rem; }
.short-fact-text{ font-size: 1.2rem; text-align: center; }
.short-fact-header{ font-size: 1.2rem; text-align: center; font-weight: bold; }

.guide-row:hover{ background: #f5f5f5; }
.guide-row{ border-bottom: solid gray 0.2rem; }
.guide-row:last-child{ border-bottom: transparent; }

.nav{ font-size: 2rem; white-space: nowrap; }
.navigation-bar{ flex-grow: 1; display: flex; background-color: #fafafa; min-width: 15rem;  max-width: 70rem; box-shadow: 0.2rem 0.2rem 0.7rem #b0b0b0; }
.nav-search{ flex-grow: 1; min-width: 4rem; text-align: center; }
.nav-searh-input{ text-align: center; }
.nav-logo{ text-align: center; }
.nav-new-guide{ background-color: #00B568; padding-left: 1rem; padding-right: 1rem; }
.nav-account{ background-color: #00B568; padding-left: 1rem; padding-right: 1rem; }
.nav-login{ background-color: #00B568; padding-left: 1rem; padding-right: 1rem; }

.login-base{ position: fixed; display: flex; justify-content: center; align-items: flex-start; width: 100%; min-height: 100%; height: 100vh; background-color: rgba(0,0,0,0.7); }
.login-create-base{ background-color: rgba(0,0,0,0); }
.login-outline{ padding: 1rem; margin-top: 5rem; width: 15rem; background-color: #fafafa; box-shadow: 0.2rem 0.2rem 0.7rem #202020; }
.login-text{ text-align: center; }
.login-input-container{ margin: 1rem; }
.login-input{ text-align: center; }
.login-submit-button{ display:block; margin: 0 auto; background-color: #25DA8C; }
.login-create{ text-align: center; margin-top: 1rem; }
.login-create:hover{ text-decoration: underline; cursor: pointer; }
.login-hidden{ display: none; }

.font-small{ font-size: 1rem; }
.font-medium{ font-size: 1.5rem; }
.font-large{ font-size: 2rem; }

@media only screen and (max-width: 40rem) {
    .navigation-bar{ flex-direction: column; }
}